<div class="row">
    <h1>Hard and Soft skills </h1>
    <div class="text-align: center col-sm-4 col-md-4 col-lg-4">
         <circle-progress
         [percent]="95"
         [radius]="100"
         [imageSrc]="'../assets/html.png'"
         [showImage]="true"
         [imageHeight]="80"
         [imageWidth]="80"
         [showSubtitle]="false"
         [outerStrokeWidth]="4"
         [innerStrokeWidth]="4"
         [outerStrokeColor]="'#808080'"
         [outerStrokeGradient]="false"
         [outerStrokeGradientStopColor]="'transparent'"
         [innerStrokeColor]="'#e7e8ea'"
         [showTitle]="true"
         [showUnits]="false"
         [animation]="true"
         [clockwise]="false"
         [animationDuration]="750"
         [showBackground]="true"
         [backgroundStroke]="'transparent'"
         [backgroundColor]="'transparent'"
         ></circle-progress>
    </div>
    <div class="text-align: center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showSubtitle]="false"
        [outerStrokeWidth]="4"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#808080'"
        [outerStrokeGradient]="false"
        [outerStrokeGradientStopColor]="'transparent'"
        [innerStrokeColor]="'#e7e8ea'"
        [showTitle]="true"
        [showUnits]="false"
        [animation]="true"
        [clockwise]="false"
        [animationDuration]="750"
        [showBackground]="true"
        [backgroundStroke]="'transparent'"
        [backgroundColor]="'transparent'"
        ></circle-progress>
   </div>
   <div class="text-align: center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/js.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [showSubtitle]="false"
    [outerStrokeWidth]="4"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#808080'" 
    [outerStrokeGradient]="false"
    [outerStrokeGradientStopColor]="'transparent'"
    [innerStrokeColor]="'#e7e8ea'"
    [showTitle]="true"
    [showUnits]="false"
    [animation]="true"
    [clockwise]="false"
    [animationDuration]="750"
    [showBackground]="true"
    [backgroundStroke]="'transparent'"
    [backgroundColor]="'transparent'"
    ></circle-progress>
   </div>
   <div class="text-align: center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="65"
    [radius]="100"
    [imageSrc]="'../assets/git.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showSubtitle]="false"
    [outerStrokeWidth]="4"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#808080'"
    [outerStrokeGradient]="false"
    [outerStrokeGradientStopColor]="'transparent'"
    [innerStrokeColor]="'#e7e8ea'"
    [showTitle]="true"
    [showUnits]="false"
    [animation]="true"
    [clockwise]="false"
    [animationDuration]="750"
    [showBackground]="true"
    [backgroundStroke]="'transparent'"
    [backgroundColor]="'transparent'"
    ></circle-progress>
   </div>
   <div class="text-align: center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/eng.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showSubtitle]="false"
    [outerStrokeWidth]="4"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#808080'"
    [outerStrokeGradient]="false"
    [outerStrokeGradientStopColor]="'transparent'"
    [innerStrokeColor]="'#e7e8ea'"
    [showTitle]="true"
    [showUnits]="false"
    [animation]="true"
    [clockwise]="false"
    [animationDuration]="750"
    [showBackground]="true"
    [backgroundStroke]="'transparent'"
    [backgroundColor]="'transparent'"
    ></circle-progress>
   </div>
   <div class="text-align: center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [imageSrc]="'../assets/grupal.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [showSubtitle]="false"
    [outerStrokeWidth]="4"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#808080'"
    [outerStrokeGradient]="false"
    [outerStrokeGradientStopColor]="'transparent'"
    [innerStrokeColor]="'#e7e8ea'"
    [showTitle]="true"
    [showUnits]="false"
    [animation]="true"
    [clockwise]="false"
    [animationDuration]="750"
    [showBackground]="true"
    [backgroundStroke]="'transparent'"
    [backgroundColor]="'transparent'"
    ></circle-progress>
   </div>
</div>
