<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
          <li><h1>Trabajo 1</h1> -
              <h3>(years)</h3>
          </li>
          <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, assumenda. Nisi nemo cumque totam voluptate sequi delectus! Obcaecati ab dignissimos, neque id placeat quaerat quis, illo error quia nesciunt eveniet!
          </p>
      </ul>  
      <ul>
        <li><h1>Trabajo 2</h1> -
            <h3>(years)</h3>
        </li>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, assumenda. Nisi nemo cumque totam voluptate sequi delectus! Obcaecati ab dignissimos, neque id placeat quaerat quis, illo error quia nesciunt eveniet!
        </p>
    </ul>  
    <ul>
        <li><h1>Trabajo 3</h1> -
            <h3>(years)</h3>
        </li>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, assumenda. Nisi nemo cumque totam voluptate sequi delectus! Obcaecati ab dignissimos, neque id placeat quaerat quis, illo error quia nesciunt eveniet!
        </p>
    </ul>  
    </div>
</div>
